<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="insider.automation.ui.Util.Listener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/egeacar/Desktop/insiderQAEngineerTask/SeleniumRestAssuredJmeter_InsiderTask_2024">
        <classes>
            <class name="insider.automation.ui.Tests.Scenario1">
            </class>
            
            <class name="insider.automation.api.test.APITestScenarios"></class>
        </classes>
    </test>
</suite>